@mixin flexbox($display: flex, $direction: null, $wrap: null, $justify: null, $align-items: null, $align-content: null, $gap: null) {
    display: $display;
    @if $direction != null {
      flex-direction: $direction;
    }
    @if $wrap != null {
      flex-wrap: $wrap;
    }
    @if $justify != null {
      justify-content: $justify;
    }
    @if $align-items != null {
      align-items: $align-items;
    }
    @if $align-content != null {
      align-content: $align-content;
    }
    @if $gap != null {
      gap: $gap;
    }
  }