@font-face {
  font-family: "Gotham";
  src: url("../../assets/fonts/otf/Gotham-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../../assets/fonts/otf/Gotham-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../../assets/fonts/otf/Gotham-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
