// base colors
$base-main: #180048;
$base-dark: #100030;

// primary colors
$primary-main: #f050f8;
$primary-light: #fa98ff;
$primary-dark: #600e6b;
$primary-intense: #ff2ffb;

// secondary colors
$secondary-main: #5840ff;
$secondary-light: #6675f6;
$secondary-dark: #2d1a83;

// tertiary colors
$tertiary-main: #60f0f8;
$tertiary-light: #bdf2ff;

// text colors
$text-main: #f0ffff;
$text-light: #d9ddff;
$text-dark: #a49fc8;

// action colors
$action-success: #18f0b8;
$action-error: #ff3e68;
$action-warning: #ffa26b;
