@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.graph-page {
    background-color: $base-main;

    &__image {
        
    }

    &__container {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    &__heading {
        margin-bottom: -0.5rem;
        width: 80%;
        text-align: center;
        color: $text-main;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.5rem;
    }

    &__content {
        background-color: $base-dark;
    }
}