@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.feature-page {
  background-color: $base-main;
  @include flexbox($direction: column, $justify: center, $align-items: center);
margin-bottom: -0.5rem;

  &__heading {
    text-transform: uppercase;
    color: $text-light;
    font-size: 1rem;
    margin-bottom: 0;
  }

  &__subheading {
    background-color: $secondary-main;
    border-radius: 10px;
    color: $text-main;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
  }

  &__contents {
    background-color: $base-main;
    @include flexbox($direction: column, $justify: center, $align-items: center);
  }

  &__buttons {
    background-color: $base-main;
    @include flexbox(
      $direction: column,
      $justify: center,
      $align-items: center
    );
  }

  &__enable {
    background-color: $secondary-main;
    color: $text-main;
    border: none;
    border-radius: 20px;
    width: 12.5rem;
    padding: 0.5rem 0;
    text-align: center;
    margin: 1rem 0;
    background-image: url(../../assets//images/lets-icons_bell-light.svg);
    background-repeat: no-repeat;
    background-position: 55px;
  }

  &__not {
    background-color: $base-main;
    color: $text-main;
    border: none;
    text-align: center;
    margin-bottom: 5rem;
  }
}
